<p id="notice"><%= notice %></p>

<p>
  <b>Lang1:</b>
  <%= @my_word.lang1 %>
</p>

<p>
  <b>Lang2:</b>
  <%= @my_word.lang2 %>
</p>

<p>
  <b>Lang3:</b>
  <%= @my_word.lang3 %>
</p>

<p>
  <b>Lang4:</b>
  <%= @my_word.lang4 %>
</p>

<p>
  <b>Lang5:</b>
  <%= @my_word.lang5 %>
</p>

<p>
  <b>Attr1:</b>
  <%= @my_word.attr1 %>
</p>

<p>
  <b>Attr2:</b>
  <%= @my_word.attr2 %>
</p>

<p>
  <b>Attr3:</b>
  <%= @my_word.attr3 %>
</p>

<p>
  <b>Myglossary:</b>
  <%= @my_word.MyGlossary %>
</p>


<%= link_to 'Edit', edit_my_word_path(@my_word) %> |
<%= link_to 'Back', my_words_path %>
